.dashboard {
  height: 100vh;
  background-color: #3b3d40;
  background-image: linear-gradient(37deg, rgb(59, 61, 64),rgb(5, 6, 7));
  color: $transparent-white;
}
#dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-top;
  #dashboard {
    margin-top: 75px;
    border-radius: $border-radius;
    border: 1px solid #000000;
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.25);
    box-shadow: -12px 12px 24px rgba(5, 6, 7, 0.5);
    .dashboard__section {
      padding: 25px;
    }
  }
}