.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: $border-radius;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: rgba(59, 61, 64, 0.25);
    border: 1px solid #000000;
    transition: all .2s ease-in-out;
  }
  &__main {
    display: flex;
  }
  &__thumb {
    img {
      margin-right: 1rem;
      width: 100%;
      max-width: 55px;
      height: auto;
      border-radius: $border-radius;
      border: 1px solid #000000;
    }
  }
  &__info {
    h2 {
      margin-bottom: 0;
      font-size: 1.2rem;
    }
    p {
      margin: 0;
      font-size: 0.8rem;
      color: rgba(255,255,255,0.7);
    }
  }
}