<h1>More Music Less Drama</h1>

<%= javascript_pack_tag 'Dashboard' %>

<%= content_tag(:div, id: 'play-list', data: @play_list.to_json) do %>
<% end %>

<div class="container" id="dashboard-container">
  <div id="dashboard"></div>
</div>